a {
  text-decoration: none; /* 링크 밑줄 제거 */
}

.avatar {
  position: relative; /* 부모 요소를 기준으로 자식 요소들의 위치를 설정 */
}

.avatar img {
  position: absolute; /* 이미지들을 겹치게 만듦 */
}

ul {
  list-style: none;
}
